@import "colors";
@import "fonts";

.blog {
   background-color: $orange;
   .intro{
      h2{
         font-family: $racing;
         text-decoration: underline;
         text-underline-offset: 5px;
   }
   }
   article {
    padding: 1.5rem;
    border-bottom: 3px solid black;
   }
   h3{
    font-size: 3rem;
   }
   .read-more-button {
    padding: 1rem;
    background-color: $secondary-yellow ;
    border-radius: 5px;
   }
//    .filter-button{

//    }

}