$white: #FFFFFF;
$offwhite: #F7F7F7;
$black: #000000;

$primary-yellow: #F9D70F;
$secondary-yellow: #FDC504;
$light-yellow: #FFDD6D;
$orange: #FC7804;
$strong-orange: #FB7803;
$primary-blue: #013562;
$secondary-blue: #01509D;
$lightblue: #0C67C0;
$turqoise: #027F9A;

$darkbluebtn: #051B47;
$header-blue: #002B50;