@use 'colors';
@use 'fonts';

.e404 {

    h1 {
        margin: 0;
        font-size: 3rem;
    }

    .error-404{ 
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .page-content{
        margin: 0;
        font-size: 0.875rem;
        font-weight: 600;

        p:nth-of-type(3){
            font-size: 1.25rem;
            font-weight: 700;
            margin: 1rem 0;
        }

        ul {
            display: flex;
            list-style-type: none;
            margin: 0.5rem 0;
            padding: 0;
            justify-content: center;
            gap: 5px;

            a{
                text-decoration: none;
                color: $black;
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }

    .background{
        background: linear-gradient(to bottom, $skyblue, $horizonblue);
        height: 100svh;
    }

    .graphics-canvas{

        .circle-sun{
            width: 100px;
            height: auto;
        }

        .clouds{
            width: 25px;
            height: auto;
        }

        .skier{
            width: 100px;
            height: auto;
        }

        .slope{
            width: 100svw;
            height: auto;
        }
        
        .regular-mountain{
            width: 25svw;
            height: auto;
        }

        .irregular-mountain{
            width: 25svw;
            height: auto;
        }
        
        .trees{
            width: 100px;
            height: auto;
        }

    }
}