@use 'fonts';
@use 'colors';
@use 'mixins';


.event-menu{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    border-bottom: 4px solid $primary-yellow;
    padding-bottom: 1rem;

    div{
        display: flex;
        width: 100%;
        border: 2px solid $strong-orange;
        border-radius: 5px;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5rem;

        &:active{
            background-color: $primary-blue;
            color: $white;
            border: 2px solid transparent;
        }
    }

    svg {
        width: 30px;
        height: 30px;
    }
}

.events{
    .removeFilterList {
        @include remove-filter-list;

        .events-filter-remove {
            @include remove-filter-item;

            & > span {
                color: $strong-orange;
            }
        }
    }
    .banner h2 {
        font-family: "Racing Sans One", sans-serif;
        font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
        font-style: normal;
        max-width: 90%;
        color: $header-blue;
        span {
            max-width: 350px;
        }
    }
}

.event-filters{
    background-color: white;
    position: fixed;
    left: 0;
    width: 100svw;
    height: 100svh;
    top: 0;
    z-index: 9999;
    padding: 1rem;

    &>div:first-of-type{
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
            font-family: $poppins_bold;
            font-size: clamp(1.5rem, 1.5rem + 1svw, 2rem);
        }

        svg{
            width: 40px;
            height: auto;
        }

        button{
            padding: 0.4rem;
            background: none;
            border: none;
            transition: 0.5s ease;

            &:hover{
                background-color: $offwhite;
            }

            &:active{
                background-color: $turqoise;
                color: white;
            }
        }
    }

    &>button{
        @include show-filtered-button;
    }

    .accordion-group{
        border-bottom: 1px solid $primary-blue;
    }

    .accordion-header{
        width: 100%;
        @include mobile-filter-accordion-header;
        padding: 1rem 0;

        svg {
            width: 25px;
            height: auto;
            @include rotate-0;
        }

        &.active{
            svg{
                @include rotate-180;
            }
        }
    }

    .accordion-content{
        display: none;
        margin-bottom: 1rem;

        &.active{
            display: flex !important;
            flex-flow: row wrap;
        }

        &>a{
            display: inline-block;
            text-decoration: none;
            color: $black;
            border: 1px solid $strong-orange;
            border-radius: 5px;
            padding: 0.4rem;
            margin: 0 0.4rem 0.4rem 0;

            &:hover{
                background-color: $turqoise;
                color: $white;
                border: 1px solid $primary-blue;
            }

            svg{
                display: none;
                width: 30px;
                height: auto;
            }
        }
    }
}

.related-events__wrapper {
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    img{
        border-radius: 5px;
        height: 140px;
        width: 100%;
        object-fit: cover;
    }

    h3{
        font-size: 20px;
        font-weight: 600;
        margin: 0.5rem 0;
    }

    &>div{
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        border-bottom: 4px solid $primary-yellow;
    }

    .text-content {
        display: flex;
        flex-direction: column;

        div:first-of-type{
            display: flex;
            justify-content: space-between;
        }

        .flip{
            div:first-of-type{
                display: block;
                margin: 1rem 0;
            }

            &>p{
                display: none;
            }
        }
    }

    ul{
        margin: 0;
        padding: 0;
        display: flex;
        border-top: 2px solid $primary-blue;

    }

    li {
        margin-left: 1.5rem;
        font-style: italic;
    }

    a {
        display: block;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        color: $white;
        padding: 0.5rem 0;
        background-color: $orange;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1024px){

    .event-menu{
        div{
            border: none;

            &>p {
                font-family: $racing;
            }

            &>svg{
                display: none;
            }
        }
    }

    .event-filters {
        position: inherit;
        width: unset;
        height: unset;
        padding: 0;
        display: flex;
        gap: 1rem;
        margin: 1rem 0;

        &>button:last-of-type{
            display: none;
        }

        &>div:first-of-type{
            display: none;
        }

        .accordion-group{
            border: 0;
            width: fit-content;

            &>.accordion-header{
                margin: 0;
                padding: 0.5rem 1rem;
                background-color: $turqoise;
                color: $white;
                border-radius: 5px;
                font-size: 1rem;

                &:active{
                    background-color: $strong-orange;
                }
            }
    
            &>.accordion-content{
                position: absolute;
                width: 20%;
                flex-flow: column nowrap;
                background-color: $white;
                border-radius: 5px;
                padding: 1rem;
                box-shadow: 0px 5px 5px rgba($primary-blue, 0.5);

                &>.events-filter{
                    width: 100%;
                    border: none;
                    font-size: 1rem;

                    svg{
                        display: block;
                    }

                    &:active{
                        background-color: $strong-orange;
                    }
                }
            }
        }

    }

    .related-events__wrapper{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 4rem;

        img {
            height: 284px;
        }

        &>div{
            width: 49%;
            box-shadow: 0px 0px 10px rgba($primary-blue, 0.5);
            border: none;
            margin-top: 1rem;
        }

        .text-content {
            display: flex;
            // height: 100%;
            padding: 0 1rem;
            
            &>div:first-of-type p{
                font-size: 1.5rem;
                font-weight: 500;
            }

        }

        .flip {
            display: flex;

            &>div{
                width: 70%;
            }
        }

        ul{
            margin-top: 1rem;
            padding: 1rem 0;
            justify-content: center;
            border-top: 3px solid $orange;
        }

        a {
            background-color: $primary-yellow;
            color: $primary-blue;
            margin: 0 auto;
            margin-top: 1rem;
            width: 25%;
            height: fit-content;

            &:hover {
                background-color: $orange;
                color: $white;
            }
        }
    }
}