@import 'typography';
@import 'colors';


.event-menu{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    border-bottom: 4px solid $primary-yellow;
    padding-bottom: 1rem;

    div{
        display: flex;
        width: 100%;
        border: 2px solid $orange;
        border-radius: 5px;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5rem;
    }

    svg {
        width: 30px;
        height: 30px;
    }
}

.event-filters{
    background-color: white;
    display: none;
}

.related-events__wrapper {
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    img{
        border-radius: 5px;
        height: 140px;
        width: 100%;
        object-fit: cover;
    }

    h3{
        font-size: 20px;
        font-weight: 600;
        margin: 0.5rem 0;
    }

    &>div{
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        border-bottom: 4px solid $primary-yellow;
    }

    .text-content {
        display: flex;
        flex-direction: column;

        div:first-of-type{
            display: flex;
            justify-content: space-between;
        }

        .flip{
            div:first-of-type{
                display: block;
                margin: 1rem 0;
            }

            &>p{
                display: none;
            }
        }
    }

    ul{
        margin: 0;
        padding: 0;
        display: flex;
        border-top: 2px solid $primary-blue;

    }

    li {
        margin-left: 1.5rem;
        font-style: italic;
    }

    a {
        display: block;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        color: $white;
        padding: 0.5rem 0;
        background-color: $orange;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1024px){

    .event-menu{
        div{
            border: none;

            &>p {
                font-family: $racing;
            }

            &>svg{
                display: none;
            }
        }
    }

    .event-filters {
        position: inherit;
    }

    .related-events__wrapper{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 4rem;

        img {
            height: 284px;
        }

        &>div{
            width: 49%;
            box-shadow: 0px 0px 10px rgba($primary-blue, 0.5);
            border: none;
            margin-top: 1rem;
        }

        .text-content {
            display: flex;
            // height: 100%;
            padding: 0 1rem;
            
            &>div:first-of-type p{
                font-size: 1.5rem;
                font-weight: 500;
            }

        }

        .flip {
            display: flex;

            &>div{
                width: 70%;
            }
        }

        ul{
            margin-top: 1rem;
            padding: 1rem 0;
            justify-content: center;
            border-top: 3px solid $orange;
        }

        a {
            background-color: $primary-yellow;
            color: $primary-blue;
            margin: 0 auto;
            margin-top: 1rem;
            width: 25%;
            height: fit-content;

            &:hover {
                background-color: $orange;
                color: $white;
            }
        }
    }
}