@use "colors";

.common-questions-section {
    height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        // display: none;
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-yellow;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $white;
    }
}

.common-questions {
    height: fit-content;
    box-shadow: 2px 4px 4px rgba($black, 0.25);
    margin-bottom: 1rem;
    background-color: $white;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;

    h4 {
        margin: 0 0 1rem 0;
    }

    a {
        display: block;
        margin-top: auto;
        text-decoration: none;
        background-color: $strong-orange;
        color: $white;
        text-align: center;
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        align-self: center;
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: $primary-blue;
        }

        &:active {
            background-color: $turqoise;
            transition: background-color 0.05s ease-in-out;
        }
    }
}

.gradient-background {
    width: 100vw;
    left: 0;
    position: relative;
    background: linear-gradient(0deg, rgba($white, 0), $lightblue, rgba($white, 0));
}
.faq {
    .accordion {
        .ui-accordion-header,
        .ui-accordion-content {
            box-shadow: 0px 4px 4px rgba($black, 0.25);
        }

        h4 {
            margin-bottom: 0;
        }

        .ui-accordion-header {
            background: $lightblue;
            color: $white;
            padding: 0.5rem 1rem;
            transition: background-color 0.2s ease-in-out;
            transition: box-shadow 0.2s ease-in-out;

            &:hover{
                background-color: $secondary-blue;
                cursor: pointer;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            }

            &:active{
                background-color: $turqoise;
                transition: background-color 0.05s ease-in-out;
            } 
            
            &.ui-accordion-header-active {
                box-shadow: 0 -1px 4px rgba($black, 0.25);
            }
        }

        .ui-accordion-content {
            padding: 0.5rem 1.5rem;
        }
    }

    .accordion-sections {
        & > section {
            margin-bottom: 3rem;

            & > h3 {
                margin-bottom: 0;
            }
        }

        .plus-icon,
        .minus-icon {
            display: none;
        }
    }
}

.faq-question {
    margin: 4.5rem 0;
    text-align: center;

    h3 + p {
        font-weight: 600;
    }

    a {
        display: block;
        width: fit-content;
        background-color: $strong-orange;
        color: $white;
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin: 0 auto;
        margin-top: 1rem;
        border-radius: 6px;
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: $primary-blue;
        }

        &:active {
            background-color: $turqoise;
            transition: background-color 0.05s ease-in-out;
        }
    }
}

.faq-section {
    background-color: $primary-blue;
    color: $white;

    h2 {
        margin-top: 0;
    }

    .container {
        padding: 1rem 0 2rem 0;
    }

    & + section {
        h3 {
            margin: 2rem auto 1rem auto;
        }
    }
}

@media screen and (min-width: 1024px) {
    .faq-section {
        p {
            width: 60%;
        }
    }

    .common-questions-section {
        height: fit-content;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 2rem;

        // scrollbar styling for webkit browsers (Chrome, etc.)
        &::-webkit-scrollbar {
            // display: none;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $primary-yellow;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: $white;
        }

        .common-questions {
            width: 33%;
            margin-right: 2rem;
            flex-shrink: 0;
            height: auto;
        }
    }

    .faq {
        .accordion-sections {
            width: 85%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 4rem;

            h4 {
                margin-top: 1rem;
                font-size: 1rem;
            }

            .faq-question {
                grid-column: 1/3;
            }

            svg {
                width: 30px;
                height: auto;
            }

            .ui-accordion-header-active {
                .plus-icon {
                    display: none;
                }

                .minus-icon {
                    display: block;
                }
            }

            .ui-accordion-header {
                display: flex;

                .toggled-icon {
                    margin-left: auto;
                }
            }

            .plus-icon {
                display: block;
            }

            .minus-icon {
                display: none;
            }
        }
    }
}
