@import "colors";
@import "fonts";

.site-footer {
    background-color: $primary-blue;
    color: $white;
    padding: 1rem 2rem 2rem 2rem;

    .footer-flex {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "hours-location"
            "phone"
            "socials"
            "footer-nav";

        div:first-of-type {
            grid-area: hours-location;
        }

        .flex-secondary .phone {
            grid-area: phone;
        }

        .flex-secondary .social-media {
            grid-area: socials;
        }

        div:first-of-type div {
            margin: 1rem 2rem 2rem 0;
        }

        .flex-secondary div:first-of-type{
            padding-bottom: 2rem;
        }

        .footer-nav {
            grid-area: footer-nav;
            width: 100%;
            margin-top: 1rem;

            .site-navigation .menu-main-menu-container #primary-menu {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                
                .menu-item a {
                    text-decoration: none;
                    color: $white !important;
                }
                li a:visited {
                    color: $lightblue;
                }
            }
        }

        h3 {
            margin: 0;
        }
        a svg {
            fill: $white;
        }
    }

    @media screen and (min-width: 367px) {
        .footer-flex {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                "hours-location" "phone"
                "hours-location" "socials"
                "footer-nav footer-nav";
        }
    }

    @media screen and (min-width: 700px) {
        .footer-flex {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
                "hours-location" "phone" "socials"
                "hours-location" "phone" "socials"
                "hours-location" "footer-nav" "footer-nav";
        }
    }
    // @media screen and (min-width: 367px) {
    //     .flex-secondary div:first-of-type{
    //         margin-top: 1rem;
    //         margin-bottom: 2.5rem;
    //     }
    // }

    // @media screen and (min-width: 700px){
    //     .footer-flex {
    //         justify-content: space-around;
    //         gap: 3rem;

    //         .flex-secondary {
    //             display: flex;
    //             flex-wrap: wrap;
    //             justify-content: space-between;

    //             div:nth-of-type(2){
    //                 margin: 1rem 2rem;
    //             }
    //         }

    //     }
    //     .footer-nav {
    //         width: 40%;
    //         margin-top: 0;
    //         margin-left: auto;
    //     }
    // }
}

