@import "colors";
@import "fonts";

.banner-text {
    color: $white;
    .banner-text-1 {
        background-color: $secondary-blue;
    }
    .banner-text-2 {
        background-color: $lightblue;
    }

    .banner-text-1, .banner-text-2 {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(3, auto);
        padding: 1rem;

        .svg {
            grid-row: 2/3;
            margin: 1rem auto;
        }
        h3 {
            grid-row: 1/2;
            width: 70%; 
            margin: 1rem auto;
            text-align: center;
            padding-bottom: 0.25rem;
            border-bottom: 2px solid $orange;
        }
        p {
            grid-row: 3/-1;
        }
    }
}

@media screen and (min-width: 700px) {
    .banner-text {
        display: flex;
    }
}