@import "colors";
@import "fonts";

// Info nav styling
.info-nav {
    background-color: $primary-blue;
    color: $white;
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 53px;
    align-items: center;

    div:last-of-type {
        display: flex;
        align-items: center;
    }
}

.operation-hours {
    margin-left: 10px;
}

.site-search {
    display: flex;
}

#main-search.hidden,
.search-submit {
    display: none;
}

.search-section {
    align-items: center;
    // margin: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


.show-search {
    background: none;
    border: none;
    z-index: 15;

    svg {
        color: black;
        width: 30px;
        height: 30px;
    }
}

#main-search {
    width: 100%;
    height: 37px;
    margin-left: 5px;

    .search-form {
        width: 100%;
        height: 37px;
    }
    .search-field {
        width: 100%;
        height: 37px;
    }
}

p {
    margin: 0;
}

.site-header {
    background-color: $primary-yellow;
}

// Main Nav Styling
.main-nav {
    display: flex;
    position: relative;
    align-items: center;

    .site-title a{
        font-size: 24px;
        font-family: $racing;
        text-decoration: none;
        color: $black;
        padding-left: 10px;
    }
}

.toggle-nav {
    margin-left: auto;

    button {
        background: none;
        border: none;
    }

    svg {
    width: 35px;
    height: 35px;
    }
}

.toggle-menu {
    height: 100vh;
    width: 100vw;
    background-color: $white;
    position: absolute;
    left: 0;
    z-index:999;

    h2 {
        text-align: center;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
}



