@import "colors";
@import "fonts";

.info-nav {
    background-color: $primary-blue;
    color: $white;
    display: flex;
    position: relative;

    div:last-of-type {
        display: flex;
        margin-left: auto;
    }
}

#main-search.hidden,
.search-submit{
    display: none;
}

.show-search {
    background: none;
    border: none;

    svg {
        color: white;
        width: 30px;
        height: 30px;
    }
}

#main-search {
    position: absolute;
    z-index: 9999;
    left: 0;
}

p {
    margin: 0;
}

.site-header {
    background-color: $primary-yellow;
}
