@import 'colors';
@import 'typography';
@import 'fonts';

.featured {
    max-width: 1150px;
    margin: 0 auto;
}
.basics {
    max-width: 1920px;
    margin: 0 auto;
}
.products {
    .products-flex {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        justify-content: space-between;
        gap: 1rem;

        h2 {
            display: flex;
            flex-wrap: wrap;
            min-width: 100%;
        }
        .product-card {
            flex: 1 0 calc(45% - 1rem);
            // min-width: 142px;
            max-width: 325px;
            box-shadow: 1px 1px 1rem rgb(0 0 0 / 0.25);
            border-radius: 0.25rem;
            background-color: $white;
            padding: 2rem;

            img {
                margin: 0 auto;
                max-width: calc(100% - 2rem);
                max-height: 40%;
            }
        }
    }

    a.yellow-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: fit-content;
        text-decoration: none;
        padding: 0.45rem 0.75rem;
        border-radius: 0.25rem;
        background-color: $primary-yellow;
        color: $black;
        margin-left: auto;
        margin-right: 0;

        svg {
            margin-left: 0.25rem;
            max-width: 0.9rem;
            max-height: 0.9rem;
        }
    }
}

@media screen and (min-width: 600px) {
    .products {
        .products-flex {
            .product-card {
                flex: 1 0 calc(100vw/3 - 1rem);
            }
        }
    }
}