@use "colors";
@use "fonts";
@use "typography";
@use "mixins";

.taxonomy-product {
    h1 {
        margin-top: 0;
        padding-top: 0.5rem;
        text-align: center;
    }

    .page-banner {
        background-color: rgba($turqoise, 0.25);
    }

    .breadcrumbs {
        margin: 0.5rem 0 1rem 0;

        & > a {
            color: $turqoise;

            &:hover {
                color: $primary-yellow;
            }
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        column-gap: 1rem;
        row-gap: 0.5rem;

        .show-filters {
            grid-column: 1/2;
        }

        .sort-by {
            grid-column: 2/3;
            grid-row: -1;
        }

        .removeFilterList {
            grid-column: 1/-1;
            grid-row: 2/2;
        }
    }

    .show-filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid $strong-orange;
        border-radius: 5px;
        padding: 2px 6px;

        svg {
            width: 30px;
            height: auto;
        }
    }

    .sort-by > select {
        display: block;
        height: 100%;
        width: 100%;
        border: 2px solid $strong-orange;
        border-radius: 5px;
    }

    .product-filters {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        background-color: white;
        padding: 1rem 1rem 10rem 1rem;

        overflow-y: scroll;

        & > div:first-of-type {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-family: $poppins_bold;
                font-size: 1.5rem;
            }

            button {
                padding: 0;
                background: none;
                border: none;
            }

            svg {
                width: 40px;
                height: auto;
                cursor: pointer;
            }
        }

        & > button {
            @include show-filtered-button;
        }
    }

    .removeFilterList {
        @include remove-filter-list;

        .products-filter-remove {
            @include remove-filter-item;

            & > span {
                color: $strong-orange;
            }
        }
    }

    .accordion {
        border-bottom: 2px solid $primary-blue;

        .ui-accordion-header {
            @include mobile-filter-accordion-header;

            & > .ui-accordion-header-icon {
                display: none;
            }
        }

        svg {
            width: 30px;
            height: auto;
            @include rotate-0;
        }

        .ui-accordion-header-active {
            svg {
                @include rotate-180;
            }
        }

        .ui-accordion-content {
            display: flex;
            flex-flow: row wrap;
            gap: 10px;
            padding-bottom: 1rem;

            & > div {
                width: 45%;
                flex: 1 0 auto;
                border: 2px solid $strong-orange;
                border-radius: 5px;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            label {
                width: 100%;
                text-align: center;
                height: 100%;
                padding: 0.5rem 0;
            }

            input {
                visibility: hidden;
                width: 0;
                height: 0;
                margin-left: 5px;
            }
        }
    }

    #products {
        margin-bottom: 2rem;

        &.grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            row-gap: 1rem;
            margin-top: 1.5rem;
        }

        & > a {
            border-radius: 5px;
            text-decoration: none;
            color: $turqoise;

            div {
                box-shadow: 0 0 4px rgba($primary-blue, 0.5);
                border-radius: 5px;
                padding: 0.5rem;
            }

            h3,
            p {
                color: $black;
            }

            img {
                border-radius: 5px;
                height: 158px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .taxonomy-product {
        .grid-container {
            grid-template-columns: 3fr 1fr;
            row-gap: 1rem;

            .product-filters {
                grid-column: 1/-1;
                grid-row: 1/1;
            }

            .sort-by {
                grid-column: 2/3;
                grid-row: 2/3;

                &>select{
                    padding: 0.3rem;
                }
            }
        }

        .page-banner{

            h1{
                width: 95%;
                margin: 0 auto 2rem auto;
                text-align: left;
            }
        }

        #products {
            &.grid-container {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        .product-filters {
            position: unset;
            width: 100%;
            height: fit-content;
            z-index: unset;
            padding: unset;
            overflow-y: unset;
            display: flex;
            gap: 1rem;
            padding-bottom: 1rem;
            border-bottom: 4px solid $primary-yellow;

            & > button:last-of-type {
                display: none;
            }

            .accordion {
                border: none;
                position: relative;
                width: fit-content;

                &.has-selected .ui-accordion-header{
                    background-color: $strong-orange;
                }
            }

            .ui-accordion-header {
                background-color: $turqoise;
                color: $white;
                border-radius: 10px;
                font-weight: 400;
                font-size: 1rem;
                align-items: center;
                padding: 0.5rem 1rem;

                svg {
                    width: 25px;
                }

                &.ui-state-active {
                    background-color: $white;
                    box-shadow: 0 0 4px rgba($primary-blue, 0.25);
                    color: $black;
                }
            }

            .ui-accordion-content {
                position: absolute;
                background-color: $white;
                flex-direction: column;
                flex-wrap: nowrap;
                width: 200%;
                padding-top: 1rem;
                border-radius: 5px;
                box-shadow: 0 4px 6px rgba($turqoise, 0.25);

                & > div {
                    width: 90%;
                    padding: 5px 0;
                    border: none;
                    margin: 0 auto;
                    border-radius: unset;
                    justify-content: start;

                    &:hover {
                        background-color: $primary-yellow;
                        border-radius: 5px;
                    }

                    label {
                        padding: 0;
                        text-align: left;
                        width: 100%;
                    }

                    input[type="radio"] {
                        width: auto;
                        height: auto;
                        margin-right: 5px;
                        visibility: visible;
                    }
                }

                & > div:last-of-type {
                    border-bottom: 3px solid $primary-yellow;
                    padding-bottom: 0.5rem;
                }
            }

            & > div:first-of-type {
                display: none;
            }
        }

        .show-filters {
            display: none;
        }

        #products {
            & > a {

                img {
                    height: fit-content;
                }
            }
        }
    }
}
