@import 'colors';
@import 'typography';
@import 'fonts';

.featured {
    max-width: 1150px;
}
.basics {
    max-width: 1920px;
}
.products {
    margin: 1rem;
    .products-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2rem;
        gap: 1rem;

        h2 {
            min-width: 100%;
        }
        .product-card {
            flex-direction: column;
            justify-content: space-between;
            width: 80%;
            box-shadow: 1px 1px 1rem rgb(0 0 0 / 0.25);
            border-radius: 0.5rem;
            background-color: $white;
            padding: 1rem;
            margin: 0 auto;

            img {
                margin-left: 0.5rem;
                width: 100%;
                max-height: 60%;
            }

            .product-status {
                margin-bottom: 1rem;
            }

            .card-button {
                background-color: $secondary-blue;
                padding: 0.5rem;
                text-align: center;
                text-decoration: none;
                color: $white;
                border-radius: 0.25rem;
                margin-top: auto;
            }
        }
    }

    a.yellow-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: fit-content;
        text-decoration: none;
        padding: 0.45rem 0.75rem;
        border-radius: 0.25rem;
        background-color: $primary-yellow;
        color: $black;
        margin-left: auto;
        margin-right: 0;

        svg {
            margin-left: 0.25rem;
            max-width: 0.9rem;
            max-height: 0.9rem;
        }
    }
}
@media screen and (min-width: 360px) {
    .products {
        margin: 1rem;
        .products-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 2rem;
            gap: 1rem;
    
            h2 {
                min-width: 100%;
            }
            .product-card {
                flex: 0 0 calc(50% - 1rem);
                max-width: 230px;
                margin: 0 auto 2rem auto;

                img {
                    margin: 0 auto;
                    max-width: calc(100% - 1rem);
                    max-height: 60%;
                }
    
                .product-status {
                    margin-bottom: 1rem;
                }
    
                .card-button {
                    background-color: $secondary-blue;
                    padding: 0.5rem;
                    text-align: center;
                    text-decoration: none;
                    color: $white;
                    border-radius: 0.25rem;
                    margin-top: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .products {
        margin: 1 auto;
        .products-flex {
            justify-content: space-around;
            margin: unset;
            .product-card {
                flex: 0 0 calc(33.33% - 1rem);
                max-width: 325px;
            }
        }
    }
}