@use 'colors';
body {
    font-size: 100%;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
}

.front-page .banner h2 {
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
}
h1,
.h1 {
    font-family: "Racing Sans One", sans-serif;
    font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
}
h2,
.h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}    
h3,
.h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
}

a {
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
}

#hero-carousel.slider .carousel-inner .slide .slide-content  {
    h2 {
        font-family: "Racing Sans One", sans-serif;
        font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
    }
    p {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
    }
    a {
        font-family: "Poppins", sans-serif;
        font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
        font-weight: 600;
    }
}