html {
    scroll-behavior: smooth;
  }

.hidden {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky{
    position: sticky;
}

.overflow-hidden{
    overflow: hidden;
}

.full-width {
    width: 100%;
}

.container {
    margin: 2rem 1rem;
}

a.btn {
    position: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: fit-content !important;
    width: unset;
    height: unset;
    text-decoration: none;
    padding: 0.45rem 0.75rem;
    border-radius: 0.25rem !important;
    
    svg {
        margin-left: 0.25rem;
        max-width: 0.9rem;
        max-height: 0.9rem;
    }
}