.col-2 {
  width: 320px;
}

.flex {
  display: flex;
  gap: 1rem;
}

div.tribe-events-schedule,
div.tribe-events-schedule > h2 {
  margin: 0;
  margin-bottom: 1rem;
}
.form-demo {
  width: 100%;
}

div.rsvp-share-event {
  padding: 1rem var(--tec-grid-gutter-small-half);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

div.event-tickets .tribe-tickets__rsvp-wrapper {
  margin-top: 0;
}

[class^="post-"] {
  max-width: 1025px;
}

div.event-tickets .tribe-tickets__rsvp-actions .tribe-common-c-btn {
  max-width: 100%;
}

#tribe-events-content {
  max-width: 1376px;
}

#rsvp-now
  > div
  > form
  > div
  > div.tribe-tickets__rsvp-form-content.tribe-tickets__form
  > div.tribe-tickets__rsvp-form-buttons
  > button {
  margin-left: 0;
}

div.related-events__card {
  border-radius: 5px;
  border: 1px solid black;
  width: calc(33% - 1rem);
}

div.related-events__card img {
  width: 100%;
  height: 15rem;
}

div.related-events__wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
